<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Automation</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
        body 		{ word-wrap:break-word; }
    </style>
</head>
<body>

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-cloud"></span> Home Automation</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> User</h3>

                <p>
                    <strong>name</strong>: <%= user.name %><br>
                </p>
                <p>
                    <strong>temperature</strong>: <%= temperature %><br>
                </p>
                <p>
                    <strong>humidity</strong>: <%= humidity %><br>
                </p>

            </div>
        </div>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
              <h3><span class="fa fa-gears"></span> Boiler</h3>
	      <p><%= boilerState %></p>
                <form action="/api/boilerOn" method="post">
                    <input type="submit" class="btn btn-default" value="On" />
                </form>
                <form action="/api/boilerOff" method="post">
                    <input type="submit" class="btn btn-default" value="Off" />
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
